@mixin media() {

    @media only screen and (min-width: 600px) {

        .section-contact {
            flex-direction: row;
        }

        .section-contact__content-block {
            height: 100%;
            width: 30vw;
            position: absolute;
            left: 10vw;
            top: 0;
            line-height: 1.5;
        }

        .section-contact__background {
            position: relative;
        }
    }
}
